<head>
    <style>
    .topright {
         position: absolute;
         top: 8px;
         right: 16px;
         font-size: 18px;
    }
    </style>
</head>
<div class="topright"><a href="/logout/">Logout</a></div>
<div align = "center">
    <table>
    <tr>
        <th>Past Quizzes</th>
        {% for quiz in past_quizzes %}
        <td>{{quiz}}</td>
        {% endfor %}
    </tr>
    <tr>
        <th>Live Quizzes</th>
        {% for quiz in present_quizzes %}
        <td><a href="/quiz/{{quiz.pk}}/">{{quiz}}</a></td>
        {% endfor %}
    </tr>
    <tr>
        <th>Future Quizzes</th>
        {% for quiz in future_quizzes %}
        <td>{{quiz}}</td>
        {% endfor %}
    </tr>
    </table>
</div>