<div align ="center">
    <form method="post" novalidate>
    </br>
</br>
    <h1>Login</h1>
</br>
    {% csrf_token %}
    {% for field in form %}
        <p>
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
                <small style="color: red">{{ error }}</small>
            {% endfor %}
            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
        </p>
    </br>
    {% endfor %}
    
    <div>
        <button type="submit" >
            Login
        </button>
    </div>
</br></br>
</br>

    <div>
        New Member?
        <a href="/signup/">
            Create your Account
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
        </a>
    </div>
    </form>
</div>