{% load static %}
<head>
<style>
.topright {
     position: absolute;
     top: 8px;
     right: 16px;
     font-size: 18px;
}
</style>
</head>
<div class="topright">Score: {{attempt.score}}</div>
<div align="center"><h3>This quiz is active for {{minutes}} minutes</h3></div>
{% if message %}
{{ message }}
{% endif %}
<table>
     {% for question in questions %}
               <tr><td>{{question.ques}}</td></tr>
               {% if question.image %}
               <tr><td><img src="{{ question.image.url }}" height="150" width="200"></td></tr>
               {% endif %}
               <form id="main{{question.pk}}" method="POST" action="/attempt/{{question.pk}}/">
                    {% csrf_token %}
               {% if question.choice_a %}
               <tr><td><input type="radio" id="A" name="answer" value="A">
               <label for="answer">{{question.choice_a}}</label><br></td>
               {% endif %}
               {% if question.choice_b %}
               <td><input type="radio" id="B" name="answer" value="B">
               <label for="answer">{{question.choice_b}}</label></td></tr>
               {% endif %}
               {% if question.choice_c %}
               <tr><td><input type="radio" id="C" name="answer" value="C">
               <label for="answer">{{question.choice_c}}</label></td>
               {% endif %}
               {% if question.choice_d %}
               <td><input type="radio" id="D" name="answer" value="D">
               <label for="answer">{{question.choice_d}}</td></tr>
               {% endif %}
               {% if question.type == "TXT" %}
               <tr><td>
                    <input type="text" name="answer"/>
                    <label for="answer">Answer in CAPITAL LETTERS only.</label>
               </td></tr>
               {% endif %}
               <tr>
               <td></td><td><input type="submit" onclick="this.disabled=true; document.getElementById('main{{question.pk}}').submit();" value="Submit"/></td>
               </tr>
               </form>
     {% endfor %}
     
</table>
<div align="center">
     <h3><a href="/list/">SUBMIT QUIZ</a></h3>
</div>